.characterImage {
  border: 1px solid orange;
  display: inline-block; 
  width: 20%;
  margin: 5px;
  background: white;
}

.characterContainer {
  background-image: url("../images/starsky.jpg");
  padding: 0px;
}

.character {
  width: 400px;
  background-image: url("../images/starsky.jpg");
  margin: 5px;
}

body {
  background-image: url("../images/starsky.jpg");
  color: white;
  padding: 10px;
}

.container {
  margin: auto;
}

.title {
  background: #198dff;
  margin: 5px;
  padding: 10px;
}

h3 {
  text-align: center;
}

.instructions {
  background: #f22f2f;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

.randomNumber {
  background: #ffcb41;
  margin: 5px;
  padding: 10px;
  font-size: 22px;
  color: #2f1f77;
}

.winsLosses {
  background: #ffcb41;
  margin: 5px;
  padding: 10px;
  font-size: 22px;
  color:#2f1f77;
}

.title2 {
  background: #198dff;
  margin: 5px;
  padding: 10px;
}

.userScore {
  background: #f22f2f;
  margin: 5px;
  padding: 10px;
  font-size: 22px;
}
